body {
  margin: 0;
  font-family: '11s01-black-tuesday', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: '11s01-black-tuesday';
  src: local('11s01-black-tuesday'), url(./fonts/11s01-black-tuesday.italic.ttf) format('truetype');
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
